.language-selector {
  position: absolute;
  top: 0; }
  .language-selector__list {
    padding: 0; }
    .language-selector__list__element {
      display: inline-block;
      margin-left: .5rem; }
      .language-selector__list__element__img {
        cursor: pointer; }
  .language-selector.right {
    right: 0; }
    .language-selector.right > * {
      margin: 1.5rem 2.0rem 0 0; }
  .language-selector.left {
    left: 0; }
    .language-selector.left > * {
      margin: 1.5rem 0 0 2.0rem; }
